body{
    margin: 0px;
    padding: 0px;
    background-color:#E5E5E5;
}

.contenedor{
    margin: auto;
    width: 1440px;
    height: 1024px;
    background-color:#E5E5E5;

}
.logo{
    width: 100%;
    float: left;
    /* background-color: red; */
}
.imLogo{
    margin-top: 1.5%;
    margin-left: 5%;
    float: inherit;
}
.titulo{
    float: inherit;
    margin-left: 20%;
}
.panelIzq{
    float: left;
    width: 61.5%;
    height: 70%;
    border-radius: 20px;
    /* background-color: yellow; */
}
#imMunieco{
    margin-top: 5%;
    margin-left: 2%;
    width: 90%;
    height: auto;
}
#mensajeMunieco {
    margin-left: 7%;
    margin-right: 5%;

}
.textoSalida::placeholder{
    color: #495057;
    font-size: 16px;
    font-family: Arial, sans-serif;
    position: relative;
    top: 1%;
}
.textoSalida{
    float: left;
    text-align: center;
    margin-left: 10%;
    margin-top: 15%;
    color: #0A3871;
    width: 80%;
    height: 25%;
    border: none;
    outline: none;
    resize: none;
    font-size: 23px;

}
#textoEntrada{
    float: left;
    margin-left: 16.6%;
    margin-top: 18%;
    width: 80%;
    height: 60%;
    color: #0A3871;
    font-size: 2em;
    border: none;
    outline: none;
    background-color: #E5E5E5;
    resize: none;
}
#textoEntrada::placeholder {
    color:  #0A3871;
    font-size: 32px; /* 32px/16px */
    font-family: Arial, sans-serif;
    position: relative;
  }
.panelDer{
    float: right;
    text-align: center;
    width: 35%;
    height: 84%;
    margin-right: 3.5%;
    border-radius: 20px;
    /*background-color: orange;*/
}
#mensajeMunieco{
    color: #343A40;
    font-size: 1.5em; /* 24px/16px */
}
.signoAdmiracion{
    float: left;
    display: flex;
    align-items: center;
    position: relative;
    width: 46.5%;
    height: 4%;
    border-radius: 12px;
    margin-left: 15%;
    /*background-color: purple; */
}
#imSignoAd{
    margin-left: 2%;

}
.precaucion{
    font-size: 0.9em;

}
.botonesEnDe{
    float: left;
    display: flex;
    position: relative;
    width: 61.5%;
    border-radius: 20px;
    /*background-color: pink;*/
}
.botonEncriptar{
    float: left;
    background-color: #0A3871;
    color: white;
    margin-left: 30%;
    width: 45%;
    border: none;
    padding: 3%;
    border-radius: 24px;

}
.botonDesencriptar{
    background-color: #D8DFE8;
    color: #0A3871;
    margin-left: 4%;
    width: 45%;
    border: none;
    padding: 3%;
    border-radius: 24px;

}
.botonCopiar{
    float: left;
    border-radius: 20%;
    display: none;
    margin-left: 8%;
    margin-top: 83%;
    border-radius: 20px;
    border-width: 1px;
    border-color: #0A3871;
    width: 80%;
    padding: 5%;
    color: #0A3871;
}

 /*----------- responsive para tablet ---- */
@media screen and (max-width: 768px){
    .contenedor{
    margin: auto;
    width: 768px;
    /*height: 1174px;*/
    background-color:#E5E5E5;
    }
    #imMunieco{
        display: none;
    }
    .panelIzq{
    float: left;
    width: 61.5%;
    height: 65%;
    border-radius: 20px;
    background-color: yellow;
}

    .panelDer{
        position: absolute;
        margin-left: 5.2%;
        bottom: 3.4%;
        height: 11.3%;
        width: 89.6%;
        background-color: orange;
    }
    .textoSalida{
    float: left;
    text-align: center;
    margin-left: 10%;
    margin-top: 1%;
    height: 20%;

}
    .botonesEnDe{
    float: left;
    margin-left: 15%;
    display: flex;
    position: relative;
    width: 70%;
    border-radius: 20px;
    background-color: pink;
}
.botonEncriptar{
    float: left;
    background-color: #0A3871;
    color: white;
    margin-left: 3%;
    width: 45%;
    border: none;
    padding: 3%;
    border-radius: 24px;
}
.botonCopiar{
    float: left;
    border-radius: 24px;
    display: none;
    margin-left: 8%;
    margin-top: 2%;
}

}
 /* responsive para celular */

 @media screen and (max-width: 375px){
    .contenedor{
    margin: auto;
    width: 375px;
    height: 933px;
    background-color:#E5E5E5;
    }
    #imMunieco{
        display: none;
    }
